.form-add-beneficiary {
    display: flex;
    align-items: center;
    padding-left: 10px;
    background: var( --vt-c-white-soft);
    max-width: 120vh;
    margin: 0 0 15px 0;
    border-radius: 10px;
    height: 40px;

}
.form-add-beneficiary > label {
    color: var(--vt-c-black-soft);
    margin: 0 5px 0 5px;
}
.form-add-beneficiary > button {
    color: var(--vt-c-text-dark-2);
    cursor: pointer;
    background-color: var(--vt-c-indigo);
    margin-left: 5px;
    font-size: 14px;
    margin-right: 10px;
}
.form-add-beneficiary > button:hover {
    color: var(--vt-c-indigo);
    background-color: var(--vt-c-text-dark-2);
    border: var(--vt-c-text-light-1) 1px solid;
    font-weight: bold;
}
.Random-beneficiary-button {

}