.login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login > h1 {
    font-weight: bold;
}

.form-login {
    display: flex;
    flex-direction: column;
    background: var(--vt-c-text-dark-2);
    border-radius: 10px;
    max-width: 100vh;
    height: 150px;
    align-content: center;
    padding: 15px;
    margin: 0 5px 0 5px;
    color: var(--vt-c-black);
}

.form-login > button {
    margin-top: 10px;
    background: var(--vt-c-text-light-1);
    border-radius: 5px;
    color: var(--vt-c-text-dark-2) ;
}
.form-login > button:hover {
    background: var(--vt-c-text-light-2);
    border: var(--vt-c-text-light-1) 1px solid;
    color: var(--vt-c-text-light-1);
}