nav {
     background-color: #f8f9fa;
     padding: 1em;
 }
ul {
    list-style: none;
    padding: 0;
}
li {
    display: inline;
    margin-right: 1em;
}
button {
    background: none;
    border: none;
    color: blue;
    cursor: pointer;
}
.userInfo {
    margin-top: -10px;
    float: right;
    color: var(--vt-c-black-soft);
}
.userInfo span {
    display: block;
}
.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}